# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bin

# build
build/

# vscode
.vscode

# ignore output file
**/*.root

# chache file
*.chache

# image
analyze/img/
analyze/src/*.png
analyze/src/*.jpeg
analyze/src/*.jpg
analyze/src/*.eps
analyze/src/*.pdf